* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
   
  body {
    background-color: black;
  }
   
  .head {
    width: 100%;
  }

  .head h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100%;
    color: #FFF;
    font-weight: normal;
    font-size: 50px;
  }
  .head h3 {
    text-align: center;
    width: 100%;
    color: aquamarine;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
  }
   
  .video {
    display: flex;
    justify-content: center;
  }

  .middle h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 42px;
  }
  
  .middle p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: center;
  }